@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    background-color: #FFF3B0;
    background-image: url('../img/starbg.png');
    background-size: cover;
    color: #FFF3B0;
}

#reset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

h1 {
    display: flex;
    justify-content: center;
}

#container {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #E09F3E;
    border: 2px solid #9E2A2B;
    box-sizing: border-box;
}

button {
    font-size: 24px;
    margin: 10px 0px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: white;
}

button:hover {
    background-color: #9E2A2B;
    color: whitesmoke;
}

h3 {
    margin-top: 0px;
}

#robots {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 1916px;
    height: 317px;
    transition: all 5s ease-out;
    background-image: url('../img/robot_bottom.png');
    background-size: cover;
}

.playerOne {
    background-image: url('../img/crow.jpg');
    background-size: cover;
}

.playerTwo {
    background-image: url('../img/forrester.jpeg');
    background-size: cover;
}

#whose-turn {
    font-size: 28px;
}

.null {
    pointer-events: none;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

span {
    visibility: hidden;
}

#crow {
    font-size: 32px;
}

#moon {
    position: absolute;
    top: 50px;
    left: 100px;
}

#the-moon {
    max-width: 300px;
}

@media (max-width: 1200px) {
    #moon {
        left: 25px;
        top: 25px;
    }    
    #the-moon {
        max-width: 150px;
    }
}

@media (max-width: 400px) {
    #the-moon {
        visibility: hidden;
    }    
}