@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: #FFF3B0;
    /*background-image: url('https://opuszine.us/_assets/entries/mst3k-satellite.jpg');*/
}

h1 {
    display: flex;
    justify-content: center;
    color: #540B0E;
}

#container {
    width: 350px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #E09F3E;
    border: 2px solid #9E2A2B;
    box-sizing: border-box;
}

button {
    font-size: 24px;
    margin: 20px 0px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: white;
}

button:hover {
    background-color: #335C67;
    color: white;
}

h3 {
    margin-top: 0px;
}

#robots {
    position: fixed;
    bottom: -50px;
    right: 0;
    width: 960px;
    height: 344px;
    transition: all 5s ease-out
}

#robots:hover {
    background-image: url('https://external-preview.redd.it/e240rGO7gT2OZ9asccNcxqrQ1EqRvBl9pQt3nkw6_-8.png?auto=webp&s=9ce726b9fc6a1f65816a29eeae0fb4bdfec90e7e');
    background-size: cover;
}

.playerOne {
    background-image: url('../img/crow.jpg');
    background-size: cover;
}

.playerTwo {
    background-image: url('../img/forrester.jpeg');
    background-size: cover;
}