body {
    font-family: 'Papyrus', 'Comic Sans MS', sans-serif;
    width: 300px;
    margin: 50px auto;
}

h1 {
    display: flex;
    justify-content: center;;
}

#container {
    width: 350px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.square {
    width: 100px;
    height: 100px;
    background-color:orchid;
    border: 2px solid black;
    box-sizing: border-box;
}